/*/.settings
/*/logback
/*/target
/logback
/*/.classpath
/*/*.bak
/*/.project
/*/*.log
/*/*.log.*
/.project
/.idea/*
/*/*.iml
/*.iml
/.settings
/*/bin
/upload
/ltadmin-web/pom.xml~
/assembly.xml~
/pom.xml~
/target/ltadmin.tar.gz
/ltadmin-web/config.client.cache
/ltadmin-web/configuration/*
/target/ltadmin.tar.gz
/mvn.log
.DS_Store
ltadmin-web/.DS_Store
/*.iml
/logback
